{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "semi": "off",
    "react/jsx-filename-extension": [0]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
