.subheader_logo-container {
    background-color: rgba(0, 0, 0, 0.611764705882353);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.last_updated {
    background-color: rgba(0, 0, 0, 0.5490196078431373);
    border-radius: 7px;
    text-align: start;
    color: white;
    padding-left: 2%;
    padding-top: 2px;
    padding-bottom: 4px;
}
